<div class="container">
  <h3 class="mt-5">新規会員登録</h3>
  <div class="row">
    <div class="col-12">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="row mt-5 mb-3">
        <%= f.label "名前", class: "col-lg-3" %>
        <%= f.text_field :name, autofocus: true, class: "mr-5" %>
      </div>
      <div class="row mb-3">
        <%= f.label "メールアドレス", class: "col-lg-3" %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>
      <div class="row mb-3">
        <%= f.label "パスワード(６文字以上)", class: "col-lg-3" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="row mb-3">
        <%= f.label "パスワード(確認用)", class: "col-lg-3" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="row mb-3">
        <div class="col-lg-3"></div>
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    <% end %>

    <h4 class="mb-3">既に登録済みの方</h4>
    <p><%= link_to "こちら", new_user_session_path %>からログインしてください。</p>

    </div>
  </div>
</div>
