<div class="container">
  <div class="row">
    <h2>収入科目一覧</h2>
    <div class="col-md-12">
      <%= link_to "収入科目の新規登録", new_income_path %>
      <% if @incomes.present? %>
      <table class="table">
        <thead>
          <tr>
            <th>日付</th>
            <th>科目名</th>
            <th>金額</th>
            <th>備考</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @incomes.each do |income| %>
            <tr>
              <td>
                <%= link_to income_path(income.id) do %>
                  <%= income.year_month %>
                <% end %>
              </td>
              <td><%= income.name %></td>
              <td><%= income.value %></td>
              <td><%= income.description %></td>
              <td>
                <%= link_to "編集", edit_income_path(income.id), class: "btn btn-success mr-5" %>
                <%= link_to "削除", income_path(income.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <p>登録されている収入科目がありません</p>
      <% end %>
    </div>
  </div>
</div>
