<div class="container">
  <h1 class="text-center mt-5 mb-5">らくらく家計簿</h1>
  <div class="row">
    <div class="col-md-9">
      <% sum = 0 %>
      <% minus = 0 %>
      <% cnt = 0 %>
      <% firstday =0 %>
      <%= month_calendar events: @costs do |date, costs| %>
        <%= date.day %>

        <% income = 0 %>
        <% sam = 0 %>

        <% if date.day === 1 && cnt === 0 %>
          <% cnt = 1 %>
          <% firstday = date.strftime('%Y%m').to_s %>
        <% end %>

        <% costs.each do |cost| %>

          <% if cost.start_time.strftime('%Y%m').to_s === firstday %>
            <% income += cost.income.value if cost.income.present? %>
            <% sam += cost.fixedcost.value if cost.fixedcost.present? %>
            <% sam += cost.variablecost.value if cost.variablecost.present? %>
          <% end %>
        <% end %>

        <P class="text-success">+<%= income %></P>
        <p class="text-danger">-<%= sam %></p>

        <% sum += income %>
        <% minus += sam %>

      <% end %>
    </div>
    <div class="col-md-3">
      <h3>記録の追加</h3>
      <p><%= link_to "・収入科目を記録", incomes_path, class: "link" %></p>
      <p><%= link_to "・固定費科目を記録", fixedcosts_path %></p>
      <p><%= link_to "・変動費科目を記録", variablecosts_path %></p>
      <table class="table table-bordered">
        <h3 class="mt-5">今月の合計</h3>
        <tr>
          <th>収入合計</th>
          <td><%= sum %></td>
        </tr>
        <tr>
          <th>支出合計</th>
          <td><%= minus %></td>
        </tr>
      </div>
    </div>
  </div>
</div>
