<div class="container">
  <h1>らくらく家計簿</h1>
  <p>シンプルな家計簿です</p>
  <div class="row">
    <div class="col-md-3">
      <h3>科目設定</h3>
      <p><%= link_to "収入科目設定", incomes_path %></p>
      <p><%= link_to "固定費科目設定", fixedcosts_path %></p>
      <p><%= link_to "変動費科目設定", variablecosts_path %></p>
    </div>
    <div class="col-md-9">
      <%= month_calendar events: @costs do |date, costs| %>
        <%= date.day %>

        <% income = 0 %>
        <% sam = 0 %>

        <% costs.each do |cost| %>
          <% income += cost.income.value if cost.income.present? %>
          <% sam += cost.fixedcost.value if cost.fixedcost.present? %>
          <% sam += cost.variablecost.value if cost.variablecost.present? %>
        <% end %>
        <P class="text-success">+<%= income %></P>
        <p class="text-danger">-<%= sam %></p>

      <% end %>
    </div>
  </div>
</div>
