<div class="container">
  <div class="row">
    <h2 class="mt-5 mb-5">変動費科目詳細</h2>
    <div class="col-md-10">
      <table class="table table-borderless">
        <tr>
          <th>日付</th>
          <td><%= @variablecost.start_time.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>名称</th>
          <td><%= @variablecost.name %></td>
        </tr>
        <tr>
          <th>金額</th>
          <td><%= @variablecost.value %></td>
        </tr>
        <tr>
          <th>備考</th>
          <td><%= @variablecost.description %></td>
        </tr>
      </table>
      <%= link_to "編集する", edit_variablecost_path, class: "btn btn-success mr-5" %>
      <%= link_to "変動費科目一覧に戻る", variablecosts_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
