<div class="container">
  <div class="row">
    <h2>収入科目編集</h2>
    <div class="col-md-12">
      <%= form_with model: @fixedcost, local:true do |f| %>
      <table>
        <tr>
          <th><%= f.label :start_time, "日付" %></th>
          <td><%= f.date_select :start_time %></td>
        </tr>
        <tr>
          <th><%= f.label :name, "名称" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label :value, "金額" %></th>
          <td><%= f.text_field :value %></td>
        </tr>
        <tr>
          <th><%= f.label :description, "説明" %></th>
          <td><%= f.text_field :description %></td>
        </tr>
      </table>
      <%= f.submit "登録する", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "収入科目一覧に戻る", fixedcosts_path %>
    </div>
  </div>
</div>
