<div class="container">
  <div class="row">
    <h2 class="mt-5 mb-5">固定費科目一覧</h2>
    <div class="col-md-12">
      <%= link_to "固定費科目の追加", new_fixedcost_path, class: "btn btn-primary" %>
      <% if @fixedcosts.present? %>
      <table class="table">
        <thead>
          <tr>
            <th>日付</th>
            <th>科目名</th>
            <th>金額</th>
            <th>備考</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @fixedcosts.each do |fixedcost| %>
            <tr>
              <td>
                <%= link_to fixedcost_path(fixedcost.id) do %>
                  <%= fixedcost.start_time.strftime('%Y/%m/%d') %>
                <% end %>
              </td>
              <td><%= fixedcost.name %></td>
              <td><%= fixedcost.value %></td>
              <td><%= fixedcost.description %></td>
              <td>
                <%= link_to "編集", edit_fixedcost_path(fixedcost.id), class: "btn btn-success mr-5" %>
                <%= link_to "削除", fixedcost_path(fixedcost.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <p>登録されている固定費科目がありません</p>
      <% end %>
    </div>
  </div>
</div>
